:root {
  --twitchpurple: #4b367c;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

#box {
  margin: 50px auto;
  width: 40%;
  min-height: 30px;
  border: solid 1px;
  border-radius: 4px;
}

.top-row {
  font-size: 35px;
  color: var(--twitchpurple);
  font-weight: bold;
}

.form-control{
  vertical-align: middle;
  margin: 5% auto;
}

.form-control:focus {
  background-color: #f2e4ff;
  outline: 0 none;
}

.add-row {
  vertical-align: middle;
  margin: 1% auto;
}

.btn-row {
  height:8%;
}

.tw-svg__asset--logotwitch {
  fill: var(--twitchpurple);
  height: 55px;
}

.btn {
  border-radius: 0px;
  border: 0px;
}

button:focus, button:active, button::selection {
  background-color: var(--dark);
  color: var(--light);
}

.row {
  border: var(--dark) solid 1px;
  height: 10%;
  width: 100%;
  margin: 0 auto;
  line-height: 50px;
}

.col-4 {
  text-align: left;
}

.col-8 {
  padding: 0 10px 0 0;
  text-align: right;
}

a:hover, a:active {
  color: var(--dark);
  text-decoration: none;

}

.online, .online a {
  background-color: var(--twitchpurple);
  color: var(--light);
}

.online a:hover {
  color: var(--secondary);
}

.offline, .offline a {
  background-color: var(--white);
  color: var(--secondary);
}

.offline a:hover {
  color: var(--dark);
}
